<ion-menu [content]="content" type="overlay" >
  <ion-header>
    <ion-toolbar class="user-profile" color="primary">
      <ion-grid>
        <ion-row no-padding class="other-data">
          <ion-col *ngIf="isAuthenticated" no-padding class="column">
            <button ion-button icon-left small full color="danger" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Log Out
            </button>
          </ion-col>
        </ion-row>
        <ion-row no-padding class="other-data" color="primary">
          <ion-col *ngIf="isAuthenticated" no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="manageFriends()">
              <ion-icon name="contacts"></ion-icon>
              Manage friends
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar >
    </ion-header>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>